
/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box for all elements */
* {
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation styles */
nav {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-img {
  width: 80px;
}

.nav-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Form styles */
.form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#team-names {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

/* Text wrapper styles */
.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#lastGame, #nextGame, #record {
  margin-bottom: 20px;
}

/* Buttons styles */
#buttons {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#lastGameBtn, #nextGameBtn, #recordBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Roster section styles */
.roster {
  margin-top: 20px;
}

.nucksroster {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#signUpForm, #signInForm{
  display: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .form {
    padding: 15px;
  }
  
  #buttons {
    display: flex;
    flex-direction: column;
  }


}
