:root{
  --primary-color: rgb(4,28,44);
  --secondary-color: rgb(10,134,61);
  --alternate-color: rgb(0, 0, 0);
}
.newTeam{

}
/* //find out how to cghange variable using js
//make a object with all teams colors 
create a module to change to those colors by updating the css variable to the correct color
*/

/* make sure all colors are using variables so that when a click event happens they allk change */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--primary-color);
}

/* navbar styling */
nav{
  display: flex;
  justify-content: space-between;

}
nav img{
  width: 90px;
  margin-left: 5px;
  margin-top: 5px;
}


nav button{
  margin: 30px 10px 30px 30px;
  width: 8rem;
  color: var(--alternate-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--alternate-color);
  box-shadow: 0 0 10px 0 var(--alternate-color);
  font-size: large;
}
nav button:active{
  background-color:  var(--secondary-color);
}

nav div{
  font-size: xx-large;
  font-weight: 100;
  color: var(--primary-color);
  margin: 40px 30px 40px 30px;
  display: none;
}


  /* homepage Main photo */

#mainimg{
  max-width: 90%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
#buttons{
  text-align: center;
  margin-top: 6rem;
}
#buttons button{
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--alternate-color);
  border: none;
  
}
#buttons button:active{
  background-color: var(--secondary-color);
}
#record{
  display: none;
  font-weight: 600;
  font-size: larger;
}
#weWL, #next-game{
  display: none;
  text-align: center;
  padding: 2rem;
  color: var(--alternate-color);
  font-weight: 600;
  font-size: larger;
}
#mainimgcontainer{
  text-align: center;
}
#winbtn{
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--alternate-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 10px 0 var(--alternate-color);
  margin-top: 10px;
}
#winbtn:active{
background-color: var(--secondary-color);
}
#record{
  text-align: center;
  padding: 20px;
  color: var(--alternate-color);
}


