*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(10,134,61);
}

/* navbar styling */
nav{
  display: flex;
  justify-content: space-between;

}
nav img{
  width: 100px;
  margin-left: 5px;
  margin-top: 5px;
}
.links {
  list-style: none;
  display: inline-flex;
  padding: 2.5rem;
  color: white;
  font-size: large;
   
  
}
a{
  text-decoration: none;
}
nav button{
  margin: 30px 10px 30px 30px;
  width: 8rem;
  color: white;
  background-color: rgb(4,28,44);
  border: 1px solid rgb(4,28,44);
  box-shadow: 0 0 10px 0 rgb(12, 87, 137);
  font-size: large;
}
nav button:active{
  background-color:  rgb(10,134,61);
}

nav div{
  font-size: xx-large;
  font-weight: 100;
  color: rgb(4,28,44);
  margin: 40px 30px 40px 30px;
  display: none;
}

/* making the navbar responsive */
@media (max-width: 850px){
  nav button{
    display: none;
  }
  #burger{
    display: block;
  }
  nav ul{
    display: none;
  }
}
@media (min-width: 849px){
  #hiddenlink{
    display: none
  }
  
}
  #reactivelinks{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: medium;
    display: none;
  }





  /* homepage Main photo */

#mainimg{
  max-width: 90%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
#winorlosebtn{
  text-align: center;
  margin-top: 6rem;
}
#winorlosebtn button{
  padding: 2rem;
  background-color: rgb(4,28,44);
  color: white;
  border: none;
  
}
#winorlosebtn button:active{
  background-color: rgb(10,134,61);
}
#record{
  display: none;
}
#weWL{
  display: none;
  text-align: center;
  padding: 2rem;
  color: white;
  font-weight: 600;
  font-size: larger;
}
#mainimgcontainer{
  text-align: center;
}
#winbtn{
  padding: 1rem;
  background-color: rgb(4,28,44);
  color: white;
  border: 1px solid rgb(4,28,44);
  box-shadow: 0 0 10px 0 blue;
  margin-top: 10px;
}
#winbtn:active{
background-color: rgb(10,134,61);
}
#record{
  text-align: center;
  padding: 20px;
  color: white;
}